@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-karla);
  font-size: 16px;
  @apply bg-background text-background;

  @media (prefers-color-scheme: dark) {
    @apply bg-background text-background;
  }
}

.main {
  @apply bg-background text-background;

  @media (prefers-color-scheme: dark) {
    @apply bg-background text-background;
  }
}

.ck-editor__top {
  display: none;
}

.react-select {
  font-family: var(--font-rubik);
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none !important;
  padding: 0;
  margin: 0;
  box-shadow: none;

  p {
    margin: 0;
  }
}

.my-config {
  --uc-primary-oklch-dark: 69% 0.1768 300;
  --uc-primary-oklch-light: 59% 0.22 300;
}

.Form_richTextWrapper__op9SB {
  &:hover {
    border-bottom: 2px solid black !important;
  }
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.ck-editor__editable {
  height: 90px !important;
  @apply bg-background;
}

.ck-focused,
.ck-editor__editable_inline {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;

  p {
    padding: 0 !important;
    margin: 0 !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-rubik);
  margin: 0;
  @media (prefers-color-scheme: dark) {
    color: inherit;
  }
}

p {
  font-family: var(--font-karla);
  margin: 0;
  @media (prefers-color-scheme: dark) {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.4rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-rubik);
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    @apply text-white bg-black;
  }
}

.cropper-wrap-box {
  @apply bg-black;
}
